<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"> <!-- ##1 -->
<!-- layout:decorate="~{fragments/layout}" fragments 폴더 안에 layout 랜더링 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- layout.html <th:block layout:fragment="content"> -->
	<div layout:fragment="content">
		<h3>delete</h3>
	</div>
</body>
</html>
<!-- localhost:8080/boot3/test -->