<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"> <!-- ##1 -->
<!-- layout:decorate="~{fragments/layout}" fragments 폴더 안에 layout 랜더링 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- layout.html <th:block layout:fragment="content"> -->
	<div layout:fragment="content">
		<div class="container   my-5">
			<h3>MULTIBOARD</h3>
			<table
				class="table table-striped  table-bordered table-hover text-center">
				<caption>MULTIBOARD-LIST</caption>
				<thead>
					<tr>
						<th scope="col">NO</th>
						<th scope="col">TITLE</th>
						<th scope="col">WRITER</th>
						<th scope="col">DATE</th>
						<th scope="col">HIT</th>
					</tr>
				</thead>
				<tbody>
				<!-- 1. th:each=" 한개,  상태  : 리스트" -->
				<!-- 2. th:each="동적으로 꺼내 온 데이터" -->
				<!-- 3.th:href="@{/board/insert}" -->
					<tr th:each="dto, state :${list}">
						<td th:text="${state.index}"></td>
						<td><a th:href="@{|/board/detail/${dto.id}|}" th:text="${dto.btitle}"></a></td>
						<td th:text="${dto.member.name}"></td>
						<td th:text="${dto.createDate}"></td>
						<td th:text="${dto.bhit}"></td>
					</tr>
				</tbody>
			</table>
			<p class="text-end">
				<a th:href="@{/board/insert}" class="btn btn-primary">글쓰기</a>
			</p>
		</div>
	</div>
</body>
</html>